<!DOCTYPE html>
<html>
	<head>
		<title>Sinatra</title>
		<link rel="stylesheet" type="text/css" href="hw2.css">
	</head>


	<body>
		<body >
		
		
			<div id="menu1">
		<h1  class="top1">Pick a door any door!</h1>
		<h2 class="italic">  That is pick a door to find the link to the "about me"( but that sounds way less fun)</h2>
		</div>	
		<div id="menu2" >
		<p><a href="#door1"> door1</a></p>          
		<p><a href="#door2"> door2</a></p>
		<p><a href="#door3"> door3</a></p>
		<p><a href="#door4"> door4</a></p>
		<p><a href="#door5"> door5</a></p>
		<p><a href="#door6"> door6</a></p>
		<p><a href="#door7"> door7</a></p> 
		<p><a href="#door8"> door8</a></p>
		<p><a href="#door9"> door9</a></p>
		

		</div>
		<table class="doors">
			<tr>
				<td> <a id="door1" href="http://english.stackexchange.com/questions/67343/is-imbedded-a-valid-spelling-of-the-word-embedded" target=_blank>  <img src= "images/door1.jpeg" alt="door#1" title="door#1"> </a>
				 </td>
				 <td> <a id="door2" href="http://en.wikipedia.org/wiki/Monty_Hall_problem" target=_blank> <img src="images/door2.jpeg" alt="door#2"title="door#2"></a>
				 </td>
				 <td> <a id="door3" href="images/YouDidn'tSayTheMagicWord.gif" target=_blank> <img src="images/door3.jpg" alt="door#3" title="door#3"></a>
				 </td>
			</tr>
			<tr>
				<td><a id="door4" href="http://www.youtube.com/watch?v=FrK9WDMOqBI&feature=player_embedded" target=_blank> <img src="images/door4.jpg" alt="door#4" title="door#4"></a>
				</td>	
				<td> <a id="door5" href="http://learning.blogs.nytimes.com/on-this-day/January-16/" target=_blank> <img src="images/door5.jpg" alt="door#5" title="door#5"> </a>
				</td>
				<td> <a id="door6" href="aboutme.html" target="_blank"> <img src="images/door6.jpg" alt="door#6" title="this one!" ></a>
				</td>
			</tr>
			<tr>
				<td> <a id="door7" href="images/Mountain.jpg" target=_blank> <img src="images/door7.jpg" alt="door#7" title="door#7"> </a>
				</td>
				<td> <a id="door8" href="http://what-if.xkcd.com/78/" target=_blank> <img src="images/door8.png" alt="door#8" title="yikes"></a>
				</td>
				<td> <a id="door9" href="http://flowingdata.com/famous-movie-quotes-as-charts/" target=_blank> <img src="images/door9.jpg" alt="door#9" title="door#9"></a>
				</td>
			</tr>
		

		</table>
		<h3  class="bottom"><a id="solve"> Solution</a>
		Or if you don't want to check behind all the doors and just want to find the <i>correct</i> door all you have to do is click on the door with the first <a href="http://en.wikipedia.org/wiki/Perfect_number" target=_blank> <b>perfect</b></a> number.
		</h3>
	</body>








</html>