<h1>Some names and links</h1>



<% names = ["sinatra", "image gallery", "index", ] %>

	
	<b>
		
   		<% names.each do |name| %>
   			<%= name  %>
   			<p>
   		<% end %>

    </b>
    <p>
    	<a href="/sinatra">sinatra</a>
    </p>	 
		
    <p>
      <a href="/index">index</a>
    </p>   

    <p>
      <a href="/imagegallery">image gallery</a>
    </p>   