<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="imagegallery.css">
		<title>
			Image Gallery
		</title>

	</head>
	<body>
		<h1 > Square trees in a grid</h1>
			<div class="center">
				<div class="gallery">
					<img class="img" src="square1.jpg" >
					
				</div>
				<div class="gallery">
					<img class="img" src="square2.jpg">


				</div>
				<div class="gallery">
					<img class="img" src="square3.jpg" >

				</div>

				<div class="gallery">
					<img class="img" src="square4.jpg" >

				</div>

				<div class="gallery">
					<img class="img" src="square5.jpg" >

				</div>

				<div class="gallery">
					<img class="img" src="square6.jpg" >

				</div>

				<div class="gallery">
					<img class="img" src="square7.jpg" >

				</div>

				<div class="gallery">
					<img class="img" src="square8.jpg" >

				</div>
				<div class="gallery">
					<img class="img" src="square9.jpg" >

				</div>
			</div>	
	</body>
</html>	