<html>
	<head>
		<style>
		body{background-color: #666;

		}
		li{ display:inline; 
			  
			margin-left: auto;
    			margin-right: auto;



		}
		h1{font-family: times, serif; text-align: center; font-size: 50px;
		}
		ul
			{ text-align: center;
				list-style-type:none;
				margin-left: auto;
    			margin-right: auto;
			
			
			}
		nav	a{ text-decoration: none; 
			font-weight:bold;
			color:black;
				background-color:#0080FF;
				width:300px;
				margin-left: auto;
    			margin-right: auto;
				padding:25px;
				text-decoration:none;
				text-transform:uppercase;
				border-radius:  35px;
				margin-top: 60px;


		     }
		     nav a:hover {background-color: #0040FF;}

		     div.img
			{
  				
 				 padding: 5px;
  				margin-left: auto;
    			margin-right: auto;
  				height: auto;
  				width: auto;
  				
  				text-align: center;
			}	
			div.img img
				{
  				display: inline;
  				margin: 5px;
  				border: 1px solid #ffffff;
				}
		div.img a:hover img {border: 1px solid #0000ff;}
		div.desc
		{ text-align: center;
			margin-left: auto;
    			margin-right: auto;
 		 
  		font-weight: normal;
  		
  		margin: 5px;
			}
		</style>

	</head>
	<body>
		
		<div >
			<nav >
				<ul>
					<li > <a href="work.html" > work</a>
					</li>
					<li ><a href="about.html" > about</a></li>
					<li > <a href="projects.html" >Projects</a>
					</li>
					<li > <a href="contact.html" >Contact</a>
					</li>
				</ul>

			</nav>
		</div>
			<h1>John Wolfe</h1>
		<div class="img">
				<a target="_blank" href="">
				<img src="NYC.jpg" alt="New York" width="220" height="180"></a>
			
				<a target="_blank" href=""><img src="SF.jpg" alt="San Francisco" width="220" height="180"></a>
			<div class="desc">SF</div>
			<div class="desc">NYC</div>
				<a target="_blank" href="">
				<img src="Mountain.jpg" alt="mountain" width="220" height="180"></a>	
 			
 				<a target="_blank" href=""><img src="Mountain.jpg" alt="mountain" width="220" height="180"></a>
 				<div class="desc">mountains</div>
 			<div class="desc">mountains</div>

		</div>
		

	</body>
</html>